@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn-back-color: #ff4800;
  --btn-back-hover: #4ac728;
  --primary--color: #333;
  --text--color: #57647c;
  --link-hover: #ff4800;
  --dollar-color: #212529;
}

body {
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
.container {
  width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

weour {
  background-color: #f2f6f9;
  padding-top: 100px;
  padding-bottom: 90px;
  position: relative;
}

.weour__tri {
  position: absolute;
  left: 100px;
  top: 80px;
  animation: weotir 300s linear;
}

@keyframes weotir {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(3600deg);
  }

  1000% {
    transform: rotateZ(3600deg);
  }
}

.weour__ball {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.1;
  z-index: 1;
  animation: ball 1000s linear infinite;
}

@keyframes ball {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(36000deg);
  }

  100% {
    transform: rotateY(36000deg);
  }
}

.weour__dotblue {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: aboutblue 40s linear infinite;
}

@keyframes aboutblue {
  0% {
    transform: translate(0) rotate(0);
  }

  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }

  100% {
    transform: translate(0) rotate(0);
  }
}

.weour__dotred {
  position: absolute;
  top: 480px;
  left: 50px;
  animation: aboutblue 40s linear infinite;
}

.weourxx {
  position: absolute;
  right: 50px;
  top: 480px;
  animation: xxx 3000s linear;
}

@keyframes xxx {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(36000deg);
  }

  1000% {
    transform: rotateZ(3600deg);
  }
}

.weour__center {
  position: absolute;
  top: 700px;
  left: 60%;
  transform: translateX(-50%);
  animation: trianima 40s linear infinite;
}

@keyframes trianima {
  0% {
    transform: translate(0) rotate(0);
  }

  20% {
    transform: translate(-73px, -100px) rotate(36deg);
  }

  40% {
    transform: translate(141px, -72px) rotate(72deg);
  }

  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    transform: translate(-40px, 10px) rotate(144deg);
  }

  100% {
    transform: translate(0) rotate(0);
  }
}

.weour__ballbottom {
  position: absolute;
  left: -30px;
  top: 650px;
  opacity: 0.1;
  animation: ball 1000s linear infinite;
}

@keyframes ball {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(36000deg);
  }

  100% {
    transform: rotateY(36000deg);
  }
}

.weoffers__list {
  padding-left: 60px;
  padding-top: 60px;
}

.weoffers__item {
  width: 370px;
  height: 285px;
  background-color: #fff;
  transition: all 0.5s ease;
  position: relative;
  margin-bottom: 30px;
  margin-right: 30px;
  list-style: none;
}

.weoffers__item::after {
  content: '';
  width: 20px;
  border-bottom: 4px solid var(--btn-back-color);
  position: absolute;
  bottom: 0;
  display: inline-block;
  transition: all 0.5s ease;
}

.weoffers__item:hover::after {
  width: 100%;
}

.weoffers__item:hover {
  transform: translateY(-10px);
}

.weoffers__name {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 10px;
  color: var(--primary--color);
  padding-top: 130px;
  position: relative;
  padding-left: 20px;
}

.weoffers__name::before {
  content: '';
  display: inline-block;
  background-image: url('../img/ser-icon1.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 100px;
  height: 100px;
  transition: all 0.4s ease;
}

.weoffers__item:hover .weoffers__name::before {
  background-image: url('../img/ser-icon1-hover.png');
}

.weoffers__item:nth-child(2) .weoffers__name::before {
  background-image: url('../img/ser-icon2.png');
}

.weoffers__item:nth-child(2):hover ::before {
  background-image: url('../img/ser-icon2-hover.png');
}

.weoffers__item:nth-child(3) .weoffers__name::before {
  background-image: url('../img/ser-icon3.png');
}

.weoffers__item:nth-child(3):hover ::before {
  background-image: url('../img/ser-icon3-hover.png');
}

.weoffers__item:nth-child(4) .weoffers__name::before {
  background-image: url('../img/ser-icon4.png');
}

.weoffers__item:nth-child(4):hover ::before {
  background-image: url('../img/ser-icon4-hover.png');
}

.weoffers__item:nth-child(5) .weoffers__name::before {
  background-image: url('../img/ser-icon5.png');
}

.weoffers__item:nth-child(5):hover ::before {
  background-image: url('../img/ser-icon5-hover.png');
}

.weoffers__item:nth-child(6) .weoffers__name::before {
  background-image: url('../img/ser-icon6.png');
}

.weoffers__item:nth-child(6):hover ::before {
  background-image: url('../img/ser-icon6-hover.png');
}

.weoffers__desc {
  width: 310px;
  color: var(--text--color);
  line-height: 1.8;
  margin-left: 20px;
} 

.number {
  list-style-type: none;
  margin-top: 30px;
  font-family: Dosis,sans-serif;
}

.number__link {
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  display: inline-block;
  background-color: #fff;
  line-height: 40px;
  color: #333;
  box-shadow: 0 2px 10px 0 #d8dde6;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.5s ease;
}

.number__link--activ {
  background: #ff4800;
  color: #fff;
  box-shadow: unset;
}

.number__link:hover {
  background: #ff4800;
  color: #fff; 
  box-shadow: unset;
  transition: all 0.5s ease;
}


#footer {
  position: relative;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #15171a;
}

.map {
  position: absolute;
  top: 20%;
  right: 18%;
}

.footer__logo {
  margin-bottom: 18px;
}
.footer__info {
  z-index: 1;
}

.footer__text {
  width: 306px;
  font-size: 14px;
  color: #fff;
  line-height: 1.8;
  margin-bottom: 15px;
}
.social {
  list-style: none;
}
.social__item:not(:last-child) {
  margin-right: 8px;
}
.icon {
  width: 35px;
  height: 35px;
  background-color: var(--primary--color);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.icon:hover {
  background-color: var(--btn-back-color);
  transition: all 0.5s ease;
}
.social__link {
  text-decoration: none;
}

.footer__list {
  list-style-type: none;
  z-index: 10;
}
.footer__servis {
  font-family: Dosis,sans-serif;
  position: relative;
  margin-bottom: 23px;
  color: #fff;
  padding-bottom: 6px;
  font-size: 23px;
  font-weight: 700;
}

.footer__servis::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: var(--btn-back-color);
}
.footer__item:not(:last-child) {
  margin-bottom: 12px;
}
.footer__link {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  transition: all 0.5s ease;
}
.footer__link:hover {
  color: var(--btn-back-color);
  transition: all 0.5s ease;
}

.footer__items:not(:last-child) {
  margin-bottom: 6px;
}
.footer__addres {
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 700;
}

.address {
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
}

.lines {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 90vw;

}
.line:first-child {
  margin-left: -25%;
  width: 1px;
  left: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden; 
}
.line:after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fff 75%,#fff);
  animation: run 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.4,.26,0,.97);
}  
.lines .line:nth-child(1)::after {
  animation-delay: 2s;
}

.lines .line:nth-child(3) {
  margin-left: 25%;
}

.lines .line {
  width: 1px;
  left: 50%;
  background: hsla(0,0%,100%,.1);
  overflow: hidden;
}

.lines .line {
  position: absolute;
  top: 0;
  height: 100%;
}

.lines .line:nth-child(3):after {
  animation-delay: 2.5s;
}
.lines .line:after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fff 75%,#fff);
  animation: run 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.4,.26,0,.97);
}

@keyframes run {
  0%{
    top: -50%;
  }
  100%{
    top: 150%;
  }
}

#end {
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.end__text {
  color: #fff;
  font-size: 15px;
  line-height: 1.8;
}
.active {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 1.8;
}
.active:hover {
  color: var(--btn-back-color);
}
.end__list {
  list-style-type: none;
  position: relative;
}

.end__item:not(:last-child) {
  margin-right: 25px;
}

.end__item::before {
  content: "";
  width: 4px;
  height: 1px;
  background: #fff;
  right: 57%;
  top: 55%;
  position: absolute;
  transform: translateY(-50%);
}

.end__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: all 0.5s ease;
}

.end__link:hover {
  color: var(--btn-back-color);
}