@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn-back-color: #ff4800;
  --btn-back-hover: #4ac728;
  --primary--color: #333;
  --text--color: #57647c;
  --link-hover: #ff4800;
  --dollar-color: #212529;
}

body {
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}
.container {
  width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.shop__main {
  padding: 110px 0;
}

.shop__text {
  font-family: Dosis,sans-serif;
  font-size: 16px;
  color: #57647c;
  line-height: 1.8;
}

.select {
  background-color: #fff;
  color: #57647c;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 29px 0 hsl(0deg 0% 40% / 10%);
  float: unset;
  height: unset;
  padding: 15px 35px 15px 20px;
  font-family: Dosis,sans-serif;
  font-size: 16px;
}

.shop__entry {
  margin-bottom: 40px;
}

.shop__list {
  list-style: none;
}

.shop__item {
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 40px 3px rgb(0 0 0 / 5%);
  width: 415px;
  height: 580px;
}

.shop__imgs {
  overflow: hidden;
  width: 415px;
  height: 442px;
  background-image: url('https://strend-vue.envytheme.com/_nuxt/img/shop-1.ec539a5.jpg');
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 416px 442px;
}
.shop__imgs:hover {
  background-image: url('https://strend-vue.envytheme.com/_nuxt/img/shop-1-1.3c070e6.jpg');
}

.shop__item:hover .shop__hover {
  opacity: 1;
  bottom: 140px;
}
.shop__item {
  position: relative;
}

.shop__hover {
  position: absolute;
  bottom: 130px;
  left: 0;
  width: 100%;
  background-color: var(--primary--color);
  color: #fff;
  padding: 12px 20px;
  text-transform: uppercase;
  font-family: Dosis,sans-serif;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.5s ease;
  opacity: 0;
}

.shop__hover:hover {
  background-color: var(--btn-back-color);
  color: #fff;
  transition: all 0.5s ease;
}

.bxs-cart-add {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  font-size: 22px;
}

.shop__content {
  padding-top: 25px;
  z-index: 100;
}

.shop__title {
  text-decoration: none;
  margin-bottom: 8px;
  display: inline-block;
  font-size: 23px;
  font-weight: 700;
  color: var(--primary--color);
  font-family: Dosis,sans-serif;
  line-height: 1.2;
  transition: all 0.5s ease;
}

.shop__title:hover {
  transition: all 0.5s ease;
  color: var(--btn-back-color);
}

.shop__spans {
  color: var(--primary--color);
  font-family: Dosis,sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 8px;
}

.shop__old {
  text-decoration: line-through;
  color: #828893;
  margin-left: 10px;
  font-size: 13px;
  display: inline-block;
}

.shop__stars {
  font-size: 20px;
  font-weight: 900;
}