@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn-back-color: #ff4800;
  --btn-back-hover: #4ac728;
  --primary--color: #333;
  --text--color: #57647c;
  --link-hover: #ff4800;
  --dollar-color: #212529;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
.container {
  width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

#email {
  position: relative;
}

#email::before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url(../img/);
}

.email__title {
  font-family: Dosis,sans-serif;
  color: var(--primary--color);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}

.email__input {
  display: block;
  padding: 10px 50px;
  width: 447px;
  height: 45px;
  color: #fff;
  border: none;
  background-color: var(--primary--color);
  border-radius: 30px;
  padding-left: 20px;
  margin-right: 35px;
}

.email__input:focus{
  outline: none;
}
.email__input:focus::placeholder {
  color: transparent;
  transition: all 0.5s ease;
}

::placeholder {
  color: #d5d5d5;
  transition: all 0.5s ease;
}

.email__btn {
  border: none;
  padding: 0 30px;
  line-height: 45px;
  background-color: var(--btn-back-color);
  border-radius: 30px;
  transition: .5s;
  color: #fff;
  font-family: Dosis,sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.email__btn:hover {
  background-color: var(--btn-back-hover);
  color: #fff;
}

.email__form {
  margin-bottom: 10px;
}

.email__text {
  font-size: 15px;
  color: var(--text--color);
  line-height: 1.8;
}