@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-back-color: #ff4800;
  --btn-back-hover: #4ac728;
  --primary--color: #333;
  --text--color: #57647c;
  --link-hover: #ff4800;
  --dollar-color: #212529;
}

body {
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
.container {
  width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

/* HEADER PART DESGIN BY AKBARALI */

.header {
  position: relative;
  background-image: url('../img/hero-bg-img.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding-top: 240px;
  padding-bottom: 120px;
}

.header__site {
  position: fixed;
  top: 0;
  padding: 15px 0px;
  z-index: 1000000;
  width: 100%;
}


.pa-fixed-header {
	background-color: #ffffff !important;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}

.text-black{
    color: #157293 !important;
}


.header__logo {
  width: 150px;
  height: 39px;
}

.header-nav {
  margin-left: 294px;
  font-family: Dosis,sans-serif;
}

.header-nav__list {
  list-style-type: none;
}

.header-nav__item {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
  margin: 0px  13px;
  padding: 15px 0px;
  transition: all 0.5s ease;
}

.header-nav__item:nth-child(1) {
  margin-left: 0px;
}

.header-nav__item:last-child {
  margin-right: 0px;
}

.header-nav__item:hover {
  color: var(--link-hover);
}

.header-nav__item:hover .header__link {
  color: var(--link-hover);
}

.icon-down {
  position: relative;
  top: 3px;
  font-size: 20px;
  margin-left: 3px;
}

.header__link {
  text-decoration: none;
  color: #333;
  transition: all 0.5s ease;
}

.header__list {
  width: 240px;
  list-style-type: none;
  font-family: Dosis,sans-serif;
  margin-left: 20px;
}

.header__item {
  transition: all 0.4s linear;
}

.header__cart {
  position: relative;
  text-decoration: none;
  display: block;
  background-image: url('../img/shopping-basket.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  transition: all 0.4s linear;
}

.header__span {
  position: absolute;
    right: -9px;
    top: -10px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    background-color: #ff4800;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

.header__cart:hover {
  background-image: url('../img/shopping-basket-hover.png');
  transition: all 0.4s linear;
}

.header__search {
  background: none;
  border: none;
}

.header__item:hover .icon-search {
  transition: all 0.4s linear;
  color: var(--btn-back-color);
}

.icon-search {
  position: relative;
  top: 3px;
  font-size: 18px;
  color: #333;
}

.header__btn {
  background-color: #fff;
  color: var(--link-hover);
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.5s linear;
  padding: 10px 32px 12px;
  position: relative;
  font-size: 16px;
  font-family: Dosis,sans-serif;
  font-weight: 600;
}

.header__btn:hover {
  background-color: var(--btn-back-color);
  color: #fff;
}


/* DROP HOME PART */

.drop {
  display: none;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  position: absolute;
  top: 50px;
  width: 250px;
  z-index: 99;
  padding: 20px 5px;
  list-style-type: none;
  opacity: 0;
  animation: drop 0.3s linear;
}

.header-nav__item:hover .drop {
  display: block;
  opacity: 1;
}

@keyframes drop {
  0% {
    top: 100px;
    opacity: 0.1;
  }
  50% {
    top: 75px;
    opacity: 0.5;
  }
  100% {
    top: 50px;
    opacity: 1;
  }
}

.drop__item {
  position: relative;
  font-family: Dosis,sans-serif;
  text-transform: capitalize;
  color: #333;
  font-size: 16px;
  padding: 8px 15px;
}

.drop__item:hover {
  color: var(--link-hover);
}

.drop__link {
  text-decoration: none;
  color: #333;
}

.drop__item:hover .drop__link {
  color: var(--link-hover);
}

.drop-activ {
  color: var(--link-hover);
}

.drop-about {
  list-style-type: none;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  position: absolute;
  top: -15px;
  left: 220px;
  width: 250px;
  z-index: 99;
  display: none;
  padding: 20px 5px;
  animation: drop-about 0.3s linear;
}

.drop__item:hover .drop-about {
  display: block;
  opacity: 1;
}

@keyframes drop-about {
  0% {
    top: 15px;
    opacity: 0.1;
  }
  50% {
    top: 0px;
    opacity: 0.5;
  }
  100% {
    top: -15px;
    opacity: 1;
  }
}

.drop-about__item {
  font-family: Dosis,sans-serif;
  text-transform: capitalize;
  color: #333;
  font-size: 16px;
  padding: 8px 15px;
}

.drop-about__link {
  text-decoration: none;
  color: #333;
}

.drop-about__item:hover .drop-about__link {
  color: var(--link-hover);
}


/* MODAL SEARCH PART  */

.search {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.904);
  transition: all 0.9s ease-in-out;
  z-index: 3000000;
}

.search-open {
  display: block;
}

.search__box {
  width: 100%;
  height: 100vh;
}

.search__form {
  position: relative;
  top: 45%;
  left: 30%;
  width: 500px;
  display: block;
  background-color: #fff;
  border-radius: 30px;
  color: var(--dollar-color);
  padding: 5px 25px;
  padding-right: 0;
}

.search__input {
  background: none;
  border: none;
  width: 86.5%;
  padding: 15px 0px;
  color: #000;
}

.search__input::placeholder {
  color: #212529;
}

.search__input:focus::placeholder {
  color: transparent;
}

.search__input:focus {
  outline: none;
}


.search__btn {
  border-radius: 50%;
  background-color: var(--btn-back-color);
  transition: 0.3s linear;
  border: none;
  font-size: 20px;
  width: 55px;
  height: 55px;
}

.icon-search-btn {
  font-weight: 700;
  font-size: 27px;
  color: #fff;
}

.search__btn:hover {
  background-color: var(--primary--color);
}

.search__xbtn {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
}

.search__xbtn::after, .search__xbtn::before {
  content: '';
  position: relative;
  top: 0px;
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transform: rotate(135deg);
  transition: all 0.3s linear;
}
.search__xbtn::after {
  top: -18px;
  right: 0;
  transform: rotate(45deg);
}

.search__xbtn:hover::after, .search__xbtn:hover::before {
  transform: rotate(180deg);
  background-color: var(--btn-back-color);
}

.search__xbtn:hover::before {
  transform: rotate(360deg);
}


/* HERO PART  */

.hero {
  position: relative;
}

.hero__box {
  position: relative;
  width: 600px;
  font-family: Dosis,sans-serif;
}

.hero__title {
  font-size: 67px;
  font-weight: 700;
  line-height: 1.1;
  color: #333;
  margin-bottom: 25px;
}

.hero__desc {
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: #57647c;
  max-width: 600px;
  margin-bottom: 25px;
}

.hero__btn {
  display: block;
  color: #fff;
  background-color: var(--btn-back-color);
  border-radius: 30px;
  transition: 0.5s;
  padding: 10px 32px 12px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.hero__btn:hover {
  background-color: var(--btn-back-hover);
}

.hero__link {
  display: inline-block;
  position: relative;
  color: #333;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.hero__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--btn-back-color);
  transition: 0.5s;
  display: inline-block;
}

.hero__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: 0.5s;
  display: inline-block;
}

.hero__link:hover {
  color: var(--link-hover);
}

.hero__link:hover::before {
  width: 0;
}

.hero__link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}

.hero__imgbox {
  position: absolute;
  top: -28%;
  right: -18%;
  width: 925px;
  height: 530px;
  background-image: url('../img/hero-img-comp.png');
  background-repeat: no-repeat;
  background-size: 924px 530px;
}

.hero__img {
  position: relative;
  top: 40%;
  left: 31%;
  object-fit: cover;
  animation: heroimg 15s linear infinite;
}

@keyframes heroimg {
  0% {
    transform: rotateZ(-360deg);
  }
}

.triugolnik {
  display: block;
  position: absolute;
  left: 5%;
  top: 5%;
  animation-name: rotateMe;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

.header-x {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  animation: rotateMe 20s linear infinite;
}

@keyframes rotateMe {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.header-radius {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
  animation: rotate3d 4s linear infinite;
}

@keyframes rotate3d {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(1turn);
  }
}

.header-dot {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  top: 5%;
  left: 50%;
  animation: dot 40s linear infinite;
}

.header-dot2 {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  top: 45%;
  left: 5%;
  animation: dot 40s linear infinite;
}

@keyframes dot {
  0% {
    transform: translate(0) rotate(0);
  }

  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }

  100% {
    transform: translate(0) rotate(0);
  }
}


/* --------solution-section---Arslonbek */

.solution__main {
  padding-top: 110px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}
.solution__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Dosis',sans-serif;
  color: var(--dollar-color);
}
.solution__text {
  margin: 0 auto; 
  margin-bottom: 60px;
  width: 520px;
  font-size: 15px;
  color: var(--text--color);
  line-height: 1.8;
  /* height: 286px; */
}
.solution__box {
  width: 380px;
  height: 370px;
  padding: 0 12px;
}
.solution__card{
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.solution__box-inside {
  text-align: left;
  border-radius: 5px;
  position: relative;
    z-index: 1;
  padding: 35px;
  /* margin-bottom: 30px; */
  background: linear-gradient(to left bottom,#dee4f3,#e7eaf6,#f0f1f9,#f8f8fc,#fff);
}
.solution__box-img {
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
}
.solution__box-inside:hover .solution__robot-img{
  transition: all 0.5s ease;
  transform: rotateY(180deg)
}

.solution__box-inside:hover .solution__box-img::before{
  background: linear-gradient(260deg
  ,#dee4f3,#e7eaf6,#f0f1f9,#f8f8fc,#fff);
  transition: all 1s ease-in;
}

.solution__box-img::before{
  height: 50px;
  width: 50px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  transition: all 1s ease;
  background: linear-gradient(90deg
,#dee4f3,#e7eaf6,#f0f1f9,#f8f8fc,#fff);
  position: absolute;
  left: 20px;
  z-index: -1;
}
.solution__robot-img{
  z-index: 1;
  transition: all 0.5s ease;
}

.solution__box-title {
  font-family: 'Dosis', sans-serif;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 13px;
  cursor:pointer;
}
.solution__box-title:hover{
  color: var(--link-hover);
  transition: all 0.5s ease;
}
.solution__box-text {
  line-height: 1.8;
  margin-bottom: 13px;
  font-size: 15px;
  color: #57647c;
}
.solution__box-link {
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: var(--link-hover);
  font-weight: 600;
}
.solution__box-link::before{
    content: "";
    position: absolute;
    bottom: 28px;
    width: 85px;
    background: #ff4800;
    height: 1px;
    transition: all 0.5s ease;
}
.solution__box-link:hover {
  width: 0px;
}
.solution__link:hover .solution__box-link::before{
  width: 0px;
  height: 1px;
}
.solution__link{
  width: 100px;
}
.solution__background-uchburchak{
    position: absolute;
    left: 80px;
    top: 80px;
    animation: tringel 300s linear;
}
@keyframes tringel {
    0% {
      transform: rotateZ(0deg);
    }
    50% {
      transform: rotateZ(3600deg);
    }
    1000% {
      transform: rotateZ(3600deg);
    }
}

.solution__x{
    position: absolute;
    right: 60px;
    top: 350px;
    animation: xxx 3000s linear;
  }
  @keyframes xxx {
    0% {
      transform: rotateZ(0deg);
    }
    50% {
      transform: rotateZ(36000deg);
    }
    1000% {
      transform: rotateZ(3600deg);
    }
  }
  .solution__back{
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.1;
      animation: ball 1000s linear infinite;
  }
  @keyframes ball {
      0% {
        transform: rotateY(0deg);
      }
      50% {
        transform: rotateY(36000deg);
      }
      100% {
        transform: rotateY(36000deg);
      }
    }

    .solution__dot{
      position: absolute;
      left: 50%;
      top: 100px;
      animation: animationFramesTwo 40s linear infinite;
    }
    
    @keyframes animationFramesTwo {
      0% {
        transform: translate(0) rotate(0);
      }
    
      20% {
          transform: translate(73px,-1px) rotate(36deg);
      }
      40% {
          transform: translate(141px,72px) rotate(72deg);
      }
      60% {
          transform: translate(83px,122px) rotate(108deg);
      }
      80% {
          transform: translate(-40px,72px) rotate(144deg);
      }
      100% {
          transform: translate(0) rotate(0);
      }
    }
/* ----------
------solution-ended-Arslonbek----- */

.container-second{
  min-width: 1200px;
}

.engage__img {
  width: 50%;
  position: relative;
  left: 100px;
}
.engage__div{
  width: 500px;
  margin-left: 20px;
}
.engage__title {
  margin-bottom: 18px;
  line-height: 1.3;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Dosis',sans-serif;
  color: var(--primary--color);
}
.engage__text {
  margin-bottom: 13px;
  color: var(--text--color);
  line-height: 1.8;
  width: 100%;
}
.engage__list {
  width: 540px;
  display: flex;
  flex-wrap: wrap;
}
.engage__item {
  list-style: none;
}
.engage__item-text{
  width: 160px;
  font-weight: 600;
  font-size: 17px;
  padding-left: 28px;
  font-style: normal;
  font-family: 'Dosis',sans-serif;
  /* margin-right: 30px; */
}
.bx-check {
    align-items: center;
    width: 20px;
    display: inline-block;
    height: 20px;
    border-radius: 2px;
    position: relative;
    left:  0 px;
    top: 19px;
    color: #fff;
    font-size: 20px;
    line-height: 16px;
    background-color: #ff4800;
    text-align: center;
    transition: 0.5s;
}
.bx-check:hover{
  background-color: var(--btn-back-hover);
}
.engage__link {
  border-radius: 30px;
    transition: .5s;
    padding: 10px 32px 12px;
    position: relative;
    z-index: 1;
    opacity: 1!important;
    font-size: 16px;
    font-family: "Dosis",sans-serif;
    font-weight: 600;
    background-color: var(--link-hover);
    color: #fff;
    top: 40px;
    text-decoration: none;
}
.engage__link:hover{
  background-color: var(--btn-back-hover);
} 
.engage__background{
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}
.engage__back{
  position: absolute;
  right: 0;
  opacity: 0.1;
  animation: ball 1000s linear infinite;
}
.engage__background-uchburchak{
  position: absolute;
  left: 50%;
  top: 1200px;
  animation: animationFramesTwo 30s linear infinite;
}


.offer{
  background-image: url('../img/offer_section/offer__background.png');
  background-repeat: no-repeat;
  background-color: #F2F6F9;
  background-position: left center;
}
.offer__main {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  z-index: 1;
  
}
.offer__title {
  font-size: 40px;
  font-weight: 700;
  font-family: Dosis,sans-serif;
  color: var(--primary--color);
  margin-bottom: 10px;
}
.offer__text {
  line-height: 1.8;
  font-size: 15px;
  color: var(--text--color);
  margin-bottom: 4rem;
}
.offer__hero-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.offer__lists {
}
.offer__list-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 380px;
  gap: 20px;
}
.offer__item {
  text-align: left;
  align-items: center;
  width: 380px;
  height: 88px;
  padding:  13px 20px;
  background-color: #fff;
  border-radius: 5px;
  justify-content: center;  
  transition: all 0.2s ease;
}
.offer__item:hover{
  background-color: var(--link-hover);
  transition: all 0.2s ease;
}
.offer__item:hover a{
  color: #fff;
}
.offer__item-active{
  background-color: var(--link-hover);
}
.offer__item-active a{
  color: #fff;
}
.offer__item-img{
  background-image: url('../img/offer_section/icon1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
}
.item--two{
  background-image: url('../img/offer_section/icon2.png');
}
.item--three{
  background-image: url('../img/offer_section/icon3.png');
}
.item--four{
  background-image: url('../img/offer_section/icon4.png');
}
.item--five{
  background-image: url('../img/offer_section/icon5.png');
}
.item--six{
  background-image: url('../img/offer_section/icon6.png');
}
.offer__item-link{
  color: var(--primary--color);
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  bottom: 40px;  
  left: 90px;
}
.offer__img-text{
  text-align: left;
  color: var(--text--color);
  line-height: 1.8;
}
.offer__img-title{
  margin-left: 5px;
  text-align: left;
}
.offer__img-link{
    border: none;
    line-height: normal;
    border-radius: 30px;
    transition: .5s;
    padding: 10px 32px 12px;
    position: relative;
    z-index: 1;
    opacity: 1;
    font-size: 16px;
    font-family: Dosis,sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #ff4800;
    text-decoration: none;
    top: 20px;
}
.offer__img-link:hover{
  background-color: var(--btn-back-hover);
}
.offer-anime-twis{
    position: absolute;
    left: 80px;
    top: 80px;
    animation: offer-tringel 300s linear;
}
@keyframes offer-tringel {
    0% {
      transform: rotateZ(0deg);
    }
    50% {
      transform: rotateZ(3600deg);
    }
    1000% {
      transform: rotateZ(3600deg);
    }
}


.offer-ball {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.1;
  animation: offer-ball 1000s linear infinite;
}
@keyframes offer-ball {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(36000deg);
  }
  100% {
    transform: rotateY(36000deg);
  }
}

.tvingle_bottom{
  position: absolute;
  right: 45%;
  top: 800px;
  animation: tvingle_bottom 20s linear infinite;
}
@keyframes tvingle_bottom {
  0% {
    transform: translate(0) rotate(0);
  }

  20% {
      transform: translate(73px,-1px) rotate(36deg);
  }
  40% {
      transform: translate(141px,72px) rotate(72deg);
  }
  60% {
      transform: translate(83px,122px) rotate(108deg);
  }
  80% {
      transform: translate(-40px,72px) rotate(144deg);
  }
  100% {
      transform: translate(0) rotate(0);
  }
}


.offer-yumaloq{
  position: absolute;
  right: 45%;
  top: 30px;
  animation: dumaloq-suzar 40s linear infinite;
}
@keyframes dumaloq-suzar {
  0% {
    transform: translate(0) rotate(0);
  }

  20% {
      transform: translate(73px,-1px) rotate(36deg);
  }
  40% {
      transform: translate(141px,72px) rotate(72deg);
  }
  60% {
      transform: translate(83px,122px) rotate(108deg);
  }
  80% {
      transform: translate(-40px,72px) rotate(144deg);
  }
  100% {
      transform: translate(0) rotate(0);
  }
}

.completed {
  padding-top: 120px;
  position: relative;
}

.completed__img-two {
  position: absolute;
  left: 80px;
  top: 80px;
  animation: tringel 300s linear;
}

@keyframes tringel {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(3600deg);
  }

  1000% {
    transform: rotateZ(3600deg);
  }
}

.completed__img-three {
  position: absolute;
  bottom: -50px;
  left: 53%;
  transform: translateX(-50%);
  animation: trin 80s linear infinite;
}

@keyframes trin {
  0% {
    transform: translate(0) rotate(0);
  }

  20% {
    transform: translate(73px, -180px) rotate(350deg);
  }

  40% {
    transform: translate(200px, 5px) rotate(350deg);
  }

  60% {
    transform: translate(-50px, 12px) rotate(350deg);
  }

  80% {
    transform: translate(73px, -180px) rotate(350deg);
  }

  100% {
    transform: translate(0) rotate(350deg);
  }
}

.completed__img-dot {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  animation: dot 40s linear infinite;
}

@keyframes dot {
  0% {
    transform: translate(0) rotate(0);
  }

  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }

  100% {
    transform: translate(0) rotate(0);
  }
}

.completed__img-dot-two {
  position: absolute;
  top: 350px;
  left: 100px;
  animation: dotanimation 40s linear infinite;
}
@keyframes dotanimation {
}

.completed__img {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.1;
  animation: ball 1000s linear infinite;
}

@keyframes ball {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(36000deg);
  }

  100% {
    transform: rotateY(36000deg);
  }
}

.projects {
  background-image: url('../img/map-poject.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 1000px;
}

.projects__title {
  width: 680px;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: var(--primary--color);
  text-align: center;
  margin: 0 auto;
}

.projects__text {
  font-family: 'Open Sans', sans-serif;
  width: 550px;
  line-height: 30px;
  margin: 10px auto 0;
  color: var(--text--color);
  text-align: center;
  margin-bottom: 60px;
}

.projects__num {
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 32px;
  color: var(--link-hover);
  position: relative;

}

.projects__img {
  position: absolute;
  right: -140px;
  top: 20px;
  animation: xxx 3000s linear infinite;
}

@keyframes xxx {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(36000deg);
  }

  1000% {
    transform: rotateZ(3600deg);
  }
}

.projects__span {
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  color: var(--text--color);
  font-size: 15px;
  opacity: 0.7;
}

.projects__box {
  padding-top: 100px;
  position: relative;
}

.projects__box::before {
  content: '';
  width: 600px;
  height: 120px;
  border: 1px solid #f5f5f5;
  display: inline-block;
  position: absolute;
  z-index: -1;
}

.qurestion {
  margin-right: 150px;
}

.projects__question {
  margin-bottom: 15px;
  font-family: 'Dosis', sans-serif;
}

.projects__ques-text {
  padding-right: 5px;
  font-family: 'Open Sans', sans-serif;
}

.projects__link {
  font-family: 'Dosis', sans-serif;
  padding: 8px 35px;
  border: 1px solid transparent;
  background-color: var(--btn-back-color);
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.7s ease;
}

.projects__link:hover {
  background-color: var(--btn-back-hover);
  transition: all 0.7s ease;
      transform: translate(73px,-1px) rotate(36deg);
  }
  40% {
      transform: translate(141px,72px) rotate(72deg);
  }
  60% {
      transform: translate(83px,122px) rotate(108deg);
  }
  80% {
      transform: translate(-40px,72px) rotate(144deg);
  }
  100% {
      transform: translate(0) rotate(0);
  }
}

.offer-plus{
  position: absolute;
  right: 80px;
  top: 70%;
  animation: plus 300s linear;
}
@keyframes plus {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(3600deg);
  }
  1000% {
    transform: rotateZ(3600deg);
  }
}


  
 